@import 'tailwindcss';

@theme {
  --color-main-green: #696;
  --color-dark-green: #164716;
  --color-main-font: #555;
  --color-normal-gray: #d9d9d9;
  --color-thin-gray: #f5f5f5;
  --color-white: #fff;
  --color-breakfast: #ffe1e1;
  --color-lunch: #fff2dd;
  --color-dinner: #f1edff;
}

@layer base {
  html,
  body {
    @apply bg-thin-gray text-main-font h-full overflow-hidden;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }

  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utilities {
  @keyframes slide-in-right {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-out-right {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  .animate-slide-out-right {
    animation: slide-out-right 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  }

  /*
    ネイティブのdate
    inputのアイコンを透明化して全体をクリック可能にする
    */
  .custom-date-input::-webkit-calendar-picker-indicator {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
  }
}
