@import 'tailwindcss';

@layer base {
  html {
    @apply h-full overflow-hidden bg-gray-50 text-gray-900;
  }

  body {
    @apply h-full overflow-hidden bg-gray-50 text-gray-900;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }

  body {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
